@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: darkslategray;
  color: white;
}
.col {
  width: auto;
}
.xAxis {
  margin-left: 1rem;
}
.xAxis__num {
  height: 2rem;
  width: 2rem;
}
span {
  width: 2rem;
}
.cell {
  padding: 0;
  width: 2rem;
  height: 2rem;
  background: sandybrown;
  border: 1px solid darkslategray;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.stats {
  font-size: 1.5rem;
}
.button {
  cursor: pointer;
}
