@import "~bootstrap/dist/css/bootstrap.min.css";
.col {
  width: auto;
}
.xAxis {
  margin-left: 1rem;
}
.xAxis__num {
  height: 2rem;
  width: 2rem;
}
span {
  width: 2rem;
}
.cell {
  padding: 0;
  width: 2rem;
  height: 2rem;
  background: #c55717;
  cursor: pointer;
}
.button {
  cursor: pointer;
}
